NEXT_PUBLIC_API_BASE=http://127.0.0.1:8080
ADMIN_TOKEN=
NEXT_PUBLIC_TURNSTILE_ENABLED=false
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ENABLED=false

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=
GOOGLE_LOGIN_ENABLED=true
NEXT_PUBLIC_GOOGLE_LOGIN_ENABLED=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
